---
---

// mixins
@mixin background-cover($path) {
  background-color: #000;
  background-image: url($path);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin fadein($ms, $delay: 0s) {
  -webkit-animation: fadein $ms forwards;
  -moz-animation: fadein $ms forwards;
  -ms-animation: fadein $ms forwards;
  -o-animation: fadein $ms forwards;
  animation: fadein $ms forwards;

  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}
@mixin moveandfadein($ms, $delay: 0s) {
  -webkit-animation: moveandfadein $ms forwards;
  -moz-animation: moveandfadein $ms forwards;
  -ms-animation: moveandfadein $ms forwards;
  -o-animation: moveandfadein $ms forwards;
  animation: moveandfadein $ms forwards;

  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}


::selection {
  background: #333; /* WebKit Browsers */
  color: #fff;
}
::-moz-selection {
  background: #333; /* Gecko Browsers */
  color: #fff;
}

// general

.btn-custom {
  border: 2px solid white;
  border-radius: 0;
  color: white;
  background: transparent;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;

  &:active, &:visited {
    text-decoration: none;
    color: white;
  }

  &:hover {
    text-decoration: none;
    background: white;
    color: black;
    -webkit-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -moz-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -ms-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -o-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
  }
}

// navbar

#navbar-brand{
  color: white;
  border: 2px solid white;
  height: auto;
  margin: 15px 5px 0 15px;
  font-size: 25px;
  font-weight: 100;
  line-height: 20px;
}

nav.navbar-custom {
  @include fadein(2s);
  margin-bottom: 0;

  ul.navbar-right {
    margin-right: 0;
  }

  li {
    padding: 0;
    margin: 15px 15px 0 0;
    font-weight: 200;
    font-size: 16px;

    a {
      color: rgba(255,255,255,.8);
      padding: 15px;
    }
    a:hover {
     background: transparent;
     color: white;
     -webkit-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
     -moz-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
     -ms-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
     -o-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
     transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    }
  }
  li:last-child {
    border: 2px solid white;

    a:hover {
     background: white;
     color: black;
    }
  }
  li.active > a {
    color: rgba(255,255,255,1);
  }

  .navbar-toggle {
    .icon-bar {
      background-color: white;
    }
  }
}

// main header

#main-header {
  background-color: #000;
  position: relative;

  #main-header-image {
    @include background-cover('/images/beach.jpg');
    @include fadein(2s, 250ms);

    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #main-header-overlay {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// home/banner section
#home {
  #description-wrapper {
    @include moveandfadein(1.5s, 1s);

    opacity: 0;
    color: white;
    border: 2px solid white;
    padding: 20px  5px;
    margin-top: 10%;
    margin-bottom: 10%;

    #sub-headline {
      font-size: 22px;
      font-style: italic;
      font-family: "Georgia, serif";
    }

    h1{
      font-size: 40px;
    }

    .headline {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: 20px;
      margin: 25px;
      text-transform: uppercase;
    }

    .header-btn {
      margin: 0 15px;
    }
  }
}

#main-content{
  padding: 0;

  .page-section {
    margin: 0;
    padding: 100px 30px;
    background: white;
    border-bottom: 1px solid #ccc;
    font-size: 16px;

    p{
      line-height: 30px;
      color: #666;
    }

    h1{
      font-family: "Georgia, serif";
      margin-bottom: 35px;
    }
  }
}

#projects {
  .project-item {
    margin-bottom: 10px;
  }
}


#contact {
  @include background-cover('/images/powerlines.jpg');
  color: white;

  .contact-content {
    width: 100%;
    height: 100%;
    padding: 5% 15px;
    background: rgba(0,0,0,0.5);
  }

  h1 {
    font-family: "Georgia, serif";
    margin-bottom: 40px;
    // text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  }

  p{
    line-height: 30px;
    color: #666;
  }
}

#sub-footer {
  border-top: 10px solid #4D4B53;
  background-color: #353439;
  color: white;
  padding-top: 10px;

  ul > li {

    a {
      color: white;
      font-size: 64px;
      // vertical-align: middle;
    }
  }
}

#page-footer {
  padding: 50px 0;
  background-color: #26262a;
  color: white;
  font-weight: 200;

  ul > li{
    a{
      color: white;
      text-decoration: none;
      padding: 10px;

      &:hover {
        background: transparent;
        color: #999;
        -webkit-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
        -moz-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
        -ms-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
        -o-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
        transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
      }
    }
  }
}

// custom media query styles
@media (max-width: 768px) {
  #home {
    #description-wrapper {
      border:none;
    }
  }
}


// animations
@keyframes fadein {
  0% { opacity: 0; }
  100%   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% { opacity: 0; }
  100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% { opacity: 0; }
  100%   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% { opacity: 0; }
  100%   { opacity: 1; }
}

@keyframes moveandfadein {
  0% { opacity: 0; transform: translateY(-10px); }
  100%   { opacity: 1; transform: translateY(0px); }
}

/* Firefox < 16 */
@-moz-keyframes moveandfadein {
  0% { opacity: 0; transform: translateY(-10px); }
  100%   { opacity: 1; transform: translateY(0px); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes moveandfadein {
  0% { opacity: 0; transform: translateY(-10px); }
  100%   { opacity: 1; transform: translateY(0px); }
}

/* Internet Explorer */
@-ms-keyframes moveandfadein {
  0% { opacity: 0; transform: translateY(-10px); }
  100%   { opacity: 1; transform: translateY(0px); }
}

/* Opera < 12.1 */
@-o-keyframes moveandfadein {
  0% { opacity: 0; transform: translateY(-10px); }
  100%   { opacity: 1; transform: translateY(0px); }
}