---
---

// general

.btn-custom {
  border: 2px solid white;
  border-radius: 0;
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background: white;
    color: black;
    -webkit-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -moz-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -ms-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    -o-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
  }

  &:active {
    text-decoration: none;
  }
}

// navbar

#navbar-brand{
  color: white;
  border: 2px solid white;
  height: auto;
  margin: 15px 5px 0 15px;
  font-size: 25px;
  font-weight: 100;
  line-height: 20px;
}

nav.navbar-custom {
  margin-bottom: 0;

  li {
    padding: 0;
    margin: 15px 15px 0 0;
    font-weight: 200;
    font-size: 16px;

    a {
      color: rgba(255,255,255,.8);
      padding: 15px;
    }
    a:hover {
     background: transparent;
     color: white;
     -webkit-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
     -moz-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
     -ms-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
     -o-transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
     transition: all .1s 0s ease-in-out,color .1s 0s ease-in-out;
    }
  }
  li:last-child {
    border: 2px solid white;
    margin-right: 30px;

    a:hover {
     background: white;
     color: black;
    }
  }
  li.active > a {
    color: rgba(255,255,255,1);
  }

  .navbar-toggle {
    .icon-bar {
      background-color: white;
    }
  }
}

// main header

#main-header {
  background: url('/images/main.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #header-overlay {
    background: rgba(0,0,0,.5);

  }
}

// home/banner section
#home {
  #description-wrapper {
    color: white;
    border: 2px solid white;
    padding: 20px  5px;
    margin-top: 10%;
    margin-bottom: 10%;

    #sub-headline {
      font-size: 22px;
      font-style: italic;
      font-family: "Georgia, serif";
    }

    h1{
      font-size: 40px;
    }

    .headline {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: 20px;
      margin: 25px;
      text-transform: uppercase;
    }
  }
}

div#main-content{
  padding: 0;

  .page-section {
    margin: 0;
    padding: 100px 30px;
    background: white;
  }
}



// custom media query styles
@media (max-width: 768px) { 
  #home {
    #description-wrapper {
      border:none;
    }
  }
}